

body {
    background: url("../images/mystical-background.jpg");
    background-position: center;
    background-size: cover;
}

.header {

}


h1 {
color: antiquewhite;
text-align: center;
}

#crystal-ball-1 {
   
}

#crystal-ball-2 {
   float: right;
}

#crystal-ball-3 {
  
}

#crystal-ball-4 {
    float: right;
}