.mystical-image {
   
}

.body {
    background-color: black; 
    background-image: url("https://abstract.desktopnexus.com/wallpaper/1982628/");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.header {

}


h1 {

}

