body {
    background: url("../images/mystical-background.jpg");
    background-position: center;
    background-size: cover;
}


h1 {
    color: antiquewhite;
    text-align: center;
    font-size: 50px;
    font-family: monospace;
    text-decoration: underline;
}

h2 {
    color: antiquewhite;
    text-align: center;
    font-size: 40px;
    font-family: monospace;
    
}
.instructions {
    color: antiquewhite;
    float: left;  
    font-family: monospace;
    padding-left: 10px;
    font-size: 20px;

}

.col-sm-3 {
    padding-top: 25px;
    font-size: 40px;
    color: antiquewhite;
    font-family: monospace;

}

#crystal-ball-1 {
    float: right;
    width: 150px;
    margin-right: 50px;
    border-style: groove;
    border-width: thick;
    border-color: blue;
    padding: 5px;
    margin-top: 55px;
    
}

#crystal-ball-1:hover {
    opacity: 0.5;
    cursor: pointer;
}

#crystal-ball-2:hover {
    opacity: 0.5;
    cursor: pointer;
}

#crystal-ball-3:hover {
    opacity: 0.5;
    cursor: pointer;
}

#crystal-ball-4:hover {
    opacity: 0.5;
    cursor: pointer;
}

#crystal-ball-2 {
    float: left;
    width: 150px;
    margin-left: 50px;
    border-style: groove;
    border-width: thick;
    border-color: red;
    padding: 5px;
    margin-top: 55px;
}

#crystal-ball-3 {
    float: right;
    width: 150px;
    margin-right: 50px;
    border-style: groove;
    border-width: thick;
    border-color: green;
    padding: 5px;
    margin-top: 55px;
}

#crystal-ball-4 {
    float: left;
    width: 150px;
    margin-left: 50px;
    border-style: groove;
    border-width: thick;
    border-color: yellow;
    padding: 5px;
    margin-top: 55px;
}




#step-1 {
    padding:80px 0 0;
    display: inline-block;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    vertical-align: top;
    zoom: 1;
    *display: inline; 
    color: antiquewhite;

}  
    
#step-2 {
    padding:80px 0 0;
    display: inline-block;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    vertical-align: top;
    zoom: 1;
    *display: inline; 
    color: antiquewhite;

}  
    
#step-3 {
    padding:80px 0 0;
    display: inline-block;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    vertical-align: top;
    zoom: 1;
    *display: inline; 
    color: antiquewhite;

}  
    
#step-4 {
    padding:80px 0 0;
    display: inline-block;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    vertical-align: top;
    zoom: 1;
    *display: inline; 
    color: antiquewhite;

}  
    
#step-5 {
    padding:80px 0 0;
    display: inline-block;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    vertical-align: top;
    zoom: 1;
    *display: inline; 
    color: antiquewhite;

}  
    
#step-6 {
    padding:80px 0 0;
    display: inline-block;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    vertical-align: top;
    zoom: 1;
    *display: inline; 
    color: antiquewhite;

}  
#step-7 {
    padding:80px 0 0;
    display: inline-block;
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    vertical-align: top;
    zoom: 1;
    *display: inline; 
    color: antiquewhite;

}  
.random-number {
    color: antiquewhite;
    text-align: center;
    font-size: 40px;
    font-family: monospace;  
  
   
}





   